#svp-movie-metabox-container
{
	margin: 8px 0 9px;
}

#svp-options-list input[type=checkbox]
{
    margin: -4px -6px -4px -4px;
    padding: 0;
}

#svp_player_width,
#svp_player_height
{
    line-height: 15px;
    position: relative;
    top: 2px;
}

#svp-movies-list ul
{
	max-height: 457px;
}