#SLInstallFallback 
{
    padding: 20px 0;
    height: 352px;
    background: #000000 url(images/silverlight_install_bg.jpg) repeat-x scroll left top;
    color: #FFFFFF;
}

#SLInstallFallback .title
{
    font-size: 30px;
    text-align: center;
}

#SLInstallFallbackDescription
{
    padding: 0 10px;
    text-align: center;
}